// done by riverco.de team
@import lib/mixins
@import lib/svgfont

$main: #747575
$panel: #f1f0f0
$error: #e66857
$success: #58aa8f
$danger: #fbad48
$border: #e1e1e1

=arial
	font-family: Arial, sans-serif 
=icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale 
	
button
	&:focus
		outline: none
[hidden]
	display: none !important
.inner
	padding-left: 10px
.btn-file
	position: relative
	overflow: hidden
.btn
	.icon
		display: inline-block
		vertical-align: middle
		margin-right: 5px
		font-size: 16px
		color: #fff 
.upload 
	text-align: center
	color: $main
	font-size: 14px
	clear: both
	+arial
	&__title
		margin-bottom: 20px
		font-size: 14px
	&__row
		white-space: nowrap
	&__col
		display: inline-block
		vertical-align: middle
		padding: 23px 35px
		border-left: 1px solid #ccc 
		&:first-child
			border: 0
	p
		margin-bottom: 0
.panels-group
	margin-bottom: 5px
	border-bottom: 1px solid #d1d3d4
	.panel
		&:last-child
			margin-bottom: 10px
.panel
	position: relative
	margin-bottom: 15px
	border: 0
	color: $main 
	font-size: 14px
	+arial
	line-height: 1
	box-shadow: none
	border-radius: 0 
	&__head
		display: table
		width: 100%
	&__body
		padding-bottom: 5px
	&__cell
		display: table-cell
		vertical-align: middle
		padding: 8px 5px 
		box-shadow: none
		background: $panel
		&:last-child
			text-align: right
	 
$states: error, success, danger
$statesColors: $error, $success, $danger
$statesIcons: $icon-error, $icon-success, $icon-danger
$i: 1
@each $state in $states
	.panel
		&.is-#{$state}
			box-shadow: 0 0 0 1px nth($statesColors, $i)
			&:before
				content: nth($statesIcons, $i)
				position: absolute
				left: -20px
				top: 7px
				color: nth($statesColors, $i)
				font-size: 15px
				+icon
			.panel__head
				color: nth($statesColors, $i)
	$i: $i + 1

.file-items-upload
	.file-item
		margin-bottom: 10px
.file-item
	margin: 5px 0 
	.form-control
		font-size: 14px
		+arial
	.col-xs-3
		padding-right: 5px
	&_progress
		margin: 8px 0 
		border-top: 1px solid #d1d3d4 
		padding: 13px 0 13px 15px
.files-wrap
	position: relative
	z-index: 5
	padding: 10px 0 10px 25px 
	margin: 0 -25px
	+clr
	background: #fff 
	border-top: 2px solid #bfbebe
	&__title
		margin-bottom: 5px
		font-size: 14px
		font-weight: bold
		color: $main 
.files-wrap-overlay
	display: none
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	background: rgba(#000,.5) 
	z-index: 4
	&.is-active
		display: block
.file
	display: table
	width: 100%
	table-layout: fixed
	font-size: 14px
	color: $main 
	+arial
	&__cell
		display: table-cell
		vertical-align: middle
		position: relative
		padding-left: 10px
		&:first-child
			width: 50px
			padding-left: 15px
	&__img
		text-align: right
		img
			max-width: 100%
		.btn-cancel
			position: absolute
			left: 0
			top: 0
	&__name
		+text-overflow
	&__preview
		position: relative
		border: 2px solid #bfbebe
		height: 212px
		line-height: 208px
		text-align: center
		font-size: 12px
		background: #f1f0f0
		img
			display: inline-block
			border: 0
			vertical-align: middle
			max-width: 100%
			max-height: 100%
			height: auto
			width: auto
		.btn-cancel
			display: none
			position: absolute
			right: 0
			top: 0
			z-index: 2
			padding: 5px
			font-size: 12px 
			color: $success 
	&__extend
		display: none
		position: absolute
		top: 68px
		left: 2px
		right: 2px
		padding: 16px 10px 
		text-align: center
		background: rgba(#000,.3) 
		line-height: 1
		color: #fff 
		max-height: 100%
		overflow: hidden
		span
			display: block
			+text-overflow
			font-weight: bold
		.icon
			margin-bottom: 5px
			font-size: 12px
		.icon-check
			position: relative
			color: #fff
.file_preview
	float: left
	margin: 0 22px 5px 0
	width: 150px
	cursor: pointer
	display: block
	font-size: 12px
	.file__name
		padding: 7px 15px 
		line-height: 1
	&:hover,
	&.is-active
		.file__preview
			border-color: $success
		.file__name
			background: $success
			color: #fff  
		.btn-cancel
			display: block 
	&.is-selected
		.file__extend
			display: block
.file_more-docs
	.form-group
		margin: 16px auto 0
		width: 62px
		label
			font-weight: normal
		.form-control
			border-radius: 10px
.btn-cancel
	display: inline-block
	padding: 10px 5px
	background: none
	border: 0
	color: $border 
	font-size: 0
	+tr(color .2s)
	line-height: 1
	.icon
		vertical-align: middle
		font-size: 10px
	&:hover
		color: $main
.form-inline
	.form-control
		&_number
			width: 60px
			border-radius: 10px 
	label
		margin-right: 10px
		

.progress
	position: relative
	height: 35px
	border: 1px solid $border
	border-radius: 5px 
	overflow: hidden
	background: none
	box-shadow: none
	line-height: 35px
	font-size: 14px
	color: #fff 
	progress
		position: absolute
		opacity: 0
		visibility: hidden 
	&__value
		position: absolute
		left: 0
		top: 0
		bottom: 0
		width: 0
		background: #23b090
		overflow: hidden
		text-align: center  
		+tr(width .3s)
.progress-size
	font-size: 14px
	height: 35px
	line-height: 35px
	color: $main 
	
.helper-panel
	position: fixed
	border: 2px solid #bfbebe  
	padding: 18px 
	width: 837px
	z-index: 20
	font-size: 14px
	color: $main 
	background: #fff 
	box-shadow: 0 0 10px rgba(#000,.5)
	text-align: center
	&__info
		padding-top: 7px
		font-style: italic
		color: #57a98e 
	&__text
		display: inline-block
		text-align: left
	.btn-cancel
		position: absolute
		left: 3px
		top: 0
		padding: 5px 
		font-size: 12px
		color: #bebdbd 
.modal
	background: rgba(#000, .1) 
	+vertical
	&-dialog
		display: inline-block
		vertical-align: middle
		width: 445px
		top: 50%
	&-content
		border: 0
		background: #BFBEBE 
		border-radius: 0 
		box-shadow: none
	// &.in 
	// 	.modal-dialog
	// 		transform: translate(0, -50%)
.doc
	position: relative
	text-align: center
	img
		display: block
		width: 100%
	&__extend
		position: absolute
		left: 0
		right: 0
		bottom: 0
		padding: 15px 0 6px
		background: rgba(#000,.3) 
		> .icon
			margin-bottom: 15px
			font-size: 12px
	select
		margin: 0 auto 6px
		width: 210px
	.form-group
		label
			font-size: 12px
			color: #fff
			font-weight: normal  
			vertical-align: middle
		
	.icon-check
		position: relative
		color: #fff
.btn-prev,
.btn-next
	position: absolute
	top: 0
	height: 100%
	width: 83px
	padding: 0
	background: none
	font-size: 16px
	color: #fff
	border: 0
	line-height: 1
	.icon
		position: relative
		top: 2px
		vertical-align: middle
	&:hover
		font-size: 20px
.btn-prev
	left: 0
.btn-next
	right: 0
.close
	position: absolute
	right: -30px
	top: -30px
	text-shadow: none
	opacity: 1
	color: rgba($main, .7) 
	&:hover
		color: $main
		opacity: 1 