---
title: 02_registry
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<header class="header">
        <div class="header__img">
            <img src="../img/banner-4.jpg" alt="banner">
        </div>
        <div class="l-center">
            <div class="header__top">
                <a href="#" class="logo">
                    <img src="../icons/logo.svg" alt="logo">
                </a>
                <div class="tel">
                    <a href="tel:88001004487" class="tel__number">
                        8(800)100-44-87
                    </a>
                    <span>бесплатный звонок по России</span>
                </div>
            </div>
            <div class="header__in">
                <div class="header__vertical">
                    <div class="header__title">
                       Регистрация <span>ООО или ИП
                       в любой точке России.</span> Дистанционно.
                       Без поездки к нотариусу. 
                    </div>
                    <div class="header__subtitle">
                        ЗАПОЛНИТЕ АНКЕТУ СЕЙЧАС И 
                        ПОЛУЧИТЕ ГОТОВОЕ ЮРЛИЦО УЖЕ ЧЕРЕЗ 4 ДНЯ.
                    </div>
                    <div class="header__bottom">
                        <a href="#" class="btn">
                            Начать сейчас
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="section">
        <div class="l-center">
            <div class="section__in">
                <div class="title">
                    Мы первыми реализовали возможности 
                    63 Федерального Закона
                </div>
                <div class="text with-marg">
                    <span>Еще в 2011 году правительство внесло изменения в закон</span>, которые позволяют 
                    предпринимателям регистрировать юридические лица и вносить в них изменения без 
                    посещения нотариуса и налоговой. <span>Технически это стало возможным только сейчас!</span>
                </div>
                <div class="section__bottom">
                    <a href="#" class="btn btn_second">
                        Подробнее...
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="l-center">
        <div class="video">
            <div class="title title_second">
                Оцените возможности нового 
                времени!
            </div>
            <div class="video__in">
                <iframe class="video__iframe" src="https://www.youtube.com/embed/BPNTC7uZYrI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="section section_third with-dif-pad">
        <div class="l-center">
            <div class="section__in">
                <div class="title title_white">
                   Используйте технологию облачной 
                   Электронной Цифровой Подписи.
                </div>
            </div>
            <div class="wrap">
                <div class="info info_third with-after">
                    <i class="info__icon icon icon-pen"></i>
                    <div class="info__name">
                        ЗАПОЛНЯЕТЕ КОРОТКУЮ АНКЕТУ
                        С ПАРАМЕТРАМИ КОМПАНИИ
                    </div>
                    <div class="info__text">
                        Чтобы система сформировала 
                        пакет документов, вам необходимо
                         заполнить анкету в личном кабинете 
                        и указать всю информацию о 
                        новой компании
                    </div>
                </div>
                <div class="info info_third with-after">
                    <i class="info__icon icon icon-glass"></i>
                    <div class="info__name is-big">
                        ПРОХОДИТЕ ПРОВЕРКУ И ЗАГРУЖАЕТЕ
                        ЭЦП ДЛЯ УДАЛЕННОЙ РЕГИСТРАЦИИ
                    </div>
                    <div class="info__text">
                        После вашей идентификации система 
                        автоматически выгружает 
                        Электронную Цифровую Подпись на 
                        ваш компьютер для подписания 
                        готового пакета документов.
                    </div>
                </div>
                <div class="info info_third">
                    <i class="info__icon icon icon-planet"></i>
                    <div class="info__name">
                        ПОЛУЧАЕТЕ ГОТОВУЮ КОМПАНИЮ,
                        НАХОДЯСЬ В ЛЮБОЙ ТОЧКЕ МИРА
                    </div>
                    <div class="info__text">
                       Когда все проверки пройдены, 
                        система автоматически отправляет 
                       документы в налоговую. Уже через 
                       4 дня вы можете получить готовую
                        компанию с доставкой курьером.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="l-center">
            <div class="block__img">
                <img src="../img/banner-7.jpg" alt="banner">
            </div>
            <div class="block__top">
                <div class="title title_white">
                    А сколько стоит ваше время?
                </div>
                <div class="subtitle subtitle_white">
                    При создании тарифов мы учли все. 
                    <br>Никаких скрытых платежей или дополнительных комиссий.
                </div>
            </div>
            <div class="post-wrap">
                <div class="post">
                    <div class="post__in">
                        <div class="post__icon">
                            <i class="icon icon-baby"></i>
                        </div>
                        <div class="post__name">
                            РЕГИСТРАЦИЯ ИП
                        </div>
                        <div class="price">
                            <p>8 500 руб.</p>
                            <span>
                                Без курьерской доставки
                            </span>
                        </div>
                        
                        <ul class="post__list">
                            <li class="post__subtitle">
                                ВКЛЮЧЕНО
                            </li>
                            <li>
                                Подготовка документов
                            </li>
                            <li>
                                Изготовление ЭЦП
                            </li>
                            <li>
                                Подача в налоговую
                            </li>
                            <li class="post__strong">
                                Госпошлина
                            </li>
                            <li  class="post__italic">
                                Открытие счета
                            </li>
                        </ul>
                        <div class="post__bottom">
                            <div class="post__italic">
                                Подбор бухгалтера/подключение
                                интернет-бухгалтерии “Мое дело”
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="post__in">
                        <div class="post__icon">
                            <i class="icon icon-man"></i>
                        </div>
                        <div class="post__name">
                            РЕГИСТРАЦИЯ ООО
                        </div>
                        <div class="price">
                            <p>13 500 руб.</p>
                            <span>
                               Без курьерской доставки
                            </span>
                        </div>
                        <ul class="post__list">
                            <li class="post__subtitle">
                                ВКЛЮЧЕНО
                            </li>
                            <li>
                                Подготовка документов
                            </li>
                            <li>
                                Изготовление ЭЦП
                            </li>
                            <li>
                                Подача в налоговую
                            </li>
                            <li class="post__strong">
                                Госпошлина
                            </li>
                            <li  class="post__italic">
                                Открытие счета
                            </li>
                        </ul>
                        <div class="post__bottom">
                            <div class="post__italic">
                                Подбор бухгалтера/подключение
                                интернет-бухгалтерии “Мое дело”
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post">
                    <div class="post__in with-big-padb">
                        <div class="post__icon">
                            <i class="icon icon-batman"></i>
                        </div>
                        <div class="post__name">
                            КУРЬЕРСКАЯ ДОСТАВКА
                        </div>
                        <div class="price">
                            <p>3 000 руб.</p>
                            <span>
                                Оплачивается отдельно
                            </span>
                        </div>
                        <ul class="post__list">
                            <li class="post__subtitle">
                                ВКЛЮЧЕНО
                            </li>
                            <li>
                                Доверенность на курьера
                            </li>
                            <li class="post__strong">
                                По всей территории РФ
                            </li>
                        </ul>
                        <div class="post__bottom">
                            <div class="post__italic">
                                PRO-REG бережно заберет
                                ваши документы из налоговой
                                и доставит лично в руки.
                                Согласитесь, ваше время 
                                стоит дороже.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="l-center paddings">
        <div class="section__in">
            <div class="title">
                Давайте обсудим все <br>по телефону?
            </div>
            <div class="subtitle subtitle_second with-marg">
                Заполните заявку, мы перезвоним уже через 8 минут
            </div>
            <div class="text with-marg">
                Самый быстрый способ объяснить как работает система, какие у неё есть возможности, что потребуется от вас 
                и как будет происходить процесс значительно быстрее сделать по телефону. Заполните заявку на обратный 
                звонок и уже через 8 минут мы будем увлеченно обсуждать открытие Вашей компании
            </div>
            <div class="section__bottom">
                <a href="#" class="btn btn_second">
                    Звоните
                </a>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="l-center">
            <div class="block__img">
                <img src="../img/banner-6.jpg" alt="banner">
            </div>
            <div class="block__top">
                <div class="title title_white">
                    Дополнительные опции.
                </div>
                <div class="subtitle subtitle_white">
                    Вы можете заказать в “одном окне” 
                    также сопутствующие услуги от наших партнеров.
                </div>
            </div>
            <div class="post-wrap">
                <div class="post post_second">
                    <div class="post__in">
                        <div class="post__img">
                            <img src="../img/img.jpg" alt="img">
                        </div>
                        <div class="subtitle subtitle_second">
                            Юридический адрес 
                            в любой точке страны
                        </div>
                        <div class="text">
                            Закажите юридический адрес
                            в любом городе России. 
                            Всегда в наличии качественные
                            адреса для первичной регистрации.
                        </div>
                        <div class="post__bottom">
                            <div class="price">
                                <p>от 8 500 руб.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post post_second">
                    <div class="post__in">
                        <div class="post__img">
                            <img src="../img/img-2.jpg" alt="img">
                        </div>
                        <div class="subtitle subtitle_second">
                            Открытие расчетного счета
                            в банках-партнерах
                        </div>
                        <div class="text">
                            Ваша заявка на открытие счета
                            будет отправлена на проверку 
                            в банк автоматически. К вам 
                            приедет выездной менеджер банка.
                        </div>
                        <div class="post__bottom">
                            <div class="price">
                                <p>от 1500 руб.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post post_second">
                    <div class="post__in">
                        <div class="post__img">
                            <img src="../img/img-3.jpg" alt="img">
                        </div>
                        <div class="subtitle subtitle_second">
                            Бухгалтерское обслуживание
                        </div>
                        <div class="text">
                           Только самые опытные бухгалтеры.
                           Бесплатный подбор подходящего 
                           среди нескольких сотен специалистов 
                           в нашей базе.
                        </div>
                        <div class="post__bottom">
                            <div class="price">
                                <p>от 3500 руб.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="l-center paddings">
        <div class="title title_second">
            Работайте с лучшими.
        </div>
        <div class="subtitle with-marg">
            Мы любим и ценим наших партнеров:
        </div>
        <div class="partners with-dif-marg">
            <a href="#" class="partners__in">
                <img src="../img/1.png" alt="partner">
            </a>
            <a href="#" class="partners__in">
                <img src="../img/2.png" alt="partner">
            </a>
            <a href="#" class="partners__in">
                <img src="../img/3.png" alt="partner">
            </a>
            <a href="#" class="partners__in">
                <img src="../img/4.png" alt="partner">
            </a>
            <a href="#" class="partners__in">
                <img src="../img/8.png" alt="partner">
            </a>
        </div>
    </div>
    <div class="section section_second">
        <div class="section__in">
            <div class="title title_white">
                Ответы на наиболее часто 
                возникающие вопросы наших клиентов:
            </div>
        </div>
        <div class="wrap">
            <div class="info info_third">
                <div class="info__top">
                    <p>ВОПРОС №1</p>
                    <span>Почему так быстро?</span>
                </div>
                <div class="info__name">
                    ОТВЕТ
                </div>
                <div class="info__text">
                    Потому что все документы автоматически 
                    формирует наш робот, чей искусственный интеллект 
                    лежит в основе нашей системы.
                    Ну и все документы подаются электронно:
                    никаких поездок и бумажной волокиты.
                </div>
            </div>
            <div class="info info_third">
                <div class="info__top">
                    <p>ВОПРОС №2</p>
                    <span>А это безопасно?</span>
                </div>
                <div class="info__name">
                    ОТВЕТ
                </div>
                <div class="info__text">
                    Документы заверяются лично вами на вашем 
                    компьютере, с использованием технологии 
                    Электронной Цифровой Подписи. Благодаря
                    криптошифрованию и защищенным каналам связи
                    такой способ регистрации юрлиц безопасен.
                </div>
            </div>
            <div class="info info_third">
                <div class="info__top">
                    <p>ВОПРОС №3</p>
                    <span>Почему небо голубое?</span>
                </div>
                <div class="info__name">
                    ОТВЕТ
                </div>
                <div class="info__text">
                    Так как излучение синего цвета имеет более 
                    короткую длину волны, в конце видимого спектра, 
                    он больше рассеивается в атмосфере, чем красный. 
                    Благодаря этому, участок неба вне направления 
                    на Солнце, имеет голубой цвет.
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block__img">
            <img src="../img/banner-5.jpg" alt="banner">
        </div>
        <div class="block__top is-big">
            <div class="title title_white">
                Зарегистрируйтесь в форме ниже, 
                чтобы начать регистрацию ООО или ИП
                уже сейчас!
            </div>
            <div class=" text text_white with-dif-marg">
                Сразу после регистрации вы попадёте в личный кабинет PRO-REG. 
                Там вы сможете заполнить онлайн анкету с данными нового юрлица, 
                после чего наш сервис <span>сам cформирует и отправит нужный пакет документов для налоговой.</span>
            </div>
        </div>
        <div class="l-center l-center_small">
            <div class="wrap">
                <form>
                    <label class="input ">
                        <span class="input__name">
                            E-mail:
                        </span>
                        <input type="email">
                    </label>
                    <button type="button" class="btn with-marg-sm">
                        Регистрация
                    </button>
                </form>
            </div>
            <div class="name">
                или через соцсети:
            </div>
            <div class="share">
                <a href="#" class="share__item">
                    <img src="../img/vk.png" alt="share">
                </a>
                <a href="#" class="share__item">
                    <img src="../img/gp.png" alt="share">
                </a>
                <a href="#" class="share__item">
                    <img src="../img/fb.png" alt="share">
                </a>
                <a href="#" class="share__item">
                    <img src="../img/ya.png" alt="share">
                </a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="l-center">
            <div class="footer__section">
                <a href="#" class="logo">
                    <img src="../icons/logo.svg" alt="logo">
                </a>
                <ul class="list">
                    <li>
                        <a href="#">
                            PRO-REG.RU
                        </a>
                        <span>
                            © 2015-2016
                        </span>
                    </li>
                    <li>
                        ООО "ДОКСФЕРА". Все права защищены.
                    </li>
                    <li>
                        ИНН: 7722366381
                    </li>
                    <li>
                        ОГРН: 1167746548298
                    </li>
                </ul>
            </div>
            <div class="footer__section is-second">
                <div class="name">
                    Бесплатный звонок по России
                </div>
                <a href="telto:88001004487" class="tel">
                    8 (800) 100-44-87
                </a>
                <div class="name">
                    По всем вопросам:
                </div>
                <a href="mailto:info@pro-reg.ru" class="tel">
                    info@pro-reg.ru
                </a>
            </div>
            <div class="footer__section is-third">
                <div class="name">
                    Мы принимаем:
                </div>
                <div class="pay">
                    <img src="../img/7.png" alt="pay">
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
