---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	<header class="header">
        <div class="header__img">
            <img src="../img/banner-8.jpg" alt="banner">
        </div>
        <div class="l-center">
            <div class="header__top">
                <a href="#" class="logo">
                    <img src="../icons/logo.svg" alt="logo">
                </a>
                <div class="tel">
                    <a href="tel:88001004487" class="tel__number">
                        8(800)100-44-87
                    </a>
                    <span>бесплатный звонок по России</span>
                </div>
            </div>
            <div class="header__in">
                <div class="header__vertical">
                    <div class="header__title">
                        Внесите <span>изменения в ООО или ИП
                        без похода к нотариусу.</span>
                        Онлайн. Всего за 18 минут.
                    </div>
                    <div class="header__subtitle">
                        Готовые документы привезет курьер уже через 4 дня.
                    </div>
                    <div class="header__bottom">
                        <a href="#" class="btn">
                            Начать сейчас
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="section section_second">
        <div class="l-center">
            <div class="title title_white">
                Как такое возможно?
            </div>
            <div class="wrap">
                <div class="info with-after">
                    <i class="info__icon icon icon-pen"></i>
                    <div class="info__name is-colored">
                        ВЫ ЗАПОЛНЯЕТЕ
                        НЕБОЛЬШУЮ АНКЕТУ
                    </div>
                    <div class="info__text">
                        После регистрации, вы получаете 
                        доступ в личный кабинет. Там 
                        создаётся заявка на внесение 
                        изменений и вы указывае
                    </div>
                </div>
                <div class="info with-after">
                    <i class="info__icon icon icon-robot"></i>
                    <div class="info__name is-colored is-big">
                        РОБОТ ГОТОВИТ ПАКЕТ ДОКУМЕНТОВ 
                        И ЦИФРОВУЮ ПОДПИСЬ
                    </div>
                    <div class="info__text">
                        После вашей идентификации 
                        система автоматически выгружает 
                        Электронную Цифровую Подпись на 
                        ваш компьютер для подписания
                         готового пакета документов.
                    </div>
                </div>
                <div class="info with-after">
                    <i class="info__icon icon icon-protect"></i>
                    <div class="info__name is-colored">
                        ПОДПИСАННЫЕ ЭЦП ДОКУМЕНТЫ
                        ОТПРАВЛЯЮТСЯ В НАЛОГОВУЮ
                    </div>
                    <div class="info__text">
                        После того, как документы готовы и 
                        подписаны - мы автоматически в 
                        режиме онлайн отправляем их в 
                        налоговую для проверки. Весь 
                        процесс занимает 3-4 дня.
                    </div>
                </div>
                <div class="info ">
                    <i class="info__icon icon icon-batman"></i>
                    <div class="info__name is-colored">
                        ГОТОВЫЙ ПАКЕТ ДОКУМЕНТОВ
                        ПРИВЕЗЕТ КУРЬЕР
                    </div>
                    <div class="info__text">
                        Как только документы проверены и 
                        налоговая всё подтвердила, 
                        вы можете как самостоятельно приехать 
                        за ними в ФНС, так и заказать 
                        курьера, чтобы он привез их вам.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block__img">
            <img src="../img/banner-9.jpg" alt="banner">
        </div>
        <div class="l-center">
            <div class="title title_white">
                Добавим немного цифр:
            </div>
            <div class="wrap">
                <div class="item">
                    <div class="item__top">
                        63 ФЗ
                    </div>
                    <div class="text text_white">
                        Федеральный Закон, в соответствии с 
                        которым, происходит дистанционная 
                        смена Генерального Директора.
                    </div>
                </div>
                <div class="item">
                    <div class="item__top">
                        18 минут
                    </div>
                    <div class="text text_white">
                        Среднее время заполнения анкеты и 
                        ее подписания ЭЦП перед автоматической 
                        отправкой в налоговую.
                    </div>
                </div>
                <div class="item">
                    <div class="item__top">
                        4 дня
                    </div>
                    <div class="text text_white">
                        Время, которое потребуется 
                        налоговой для того, чтобы 
                        исполнить вашу заявку.
                    </div>
                </div>
                <div class="item">
                    <div class="item__top">
                        8500 руб.
                    </div>
                    <div class="text text_white">
                        Стоимость данной услуги. Никаких 
                        скрытых комиссий и платежей. 
                        Включены все расходы
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="video">
            <div class="title">
                Посмотрите видео о том, 
                как работает наш сервис.
            </div>
            <div class="video__in">
                <iframe class="video__iframe" src="https://www.youtube.com/embed/BPNTC7uZYrI" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="l-center paddings">
        <div class="title title_second">
            Нас поддерживают
        </div>
        <div class="partners">
            <a href="#" class="partners__in">
                <img src="../img/1.png" alt="partner">
            </a>
            <a href="#" class="partners__in">
                <img src="../img/2.png" alt="partner">
            </a>
            <a href="#" class="partners__in">
                <img src="../img/3.png" alt="partner">
            </a>
            <a href="#" class="partners__in">
                <img src="../img/4.png" alt="partner">
            </a>
            <a href="#" class="partners__in">
                <img src="../img/8.png" alt="partner">
            </a>
        </div>
    </div>  
    <div class="block">
        <div class="block__img">
            <img src="../img/banner-2.jpg" alt="banner">
        </div>
        <div class="block__top">
            <div class="title title_white">
                Хотите мы расскажем все детали 
                по телефону?
            </div>
            <div class="subtitle subtitle_white">
                Заполните заявку, мы перезвоним уже через 8 минут
            </div>
        </div>
        <div class="l-center l-center_small">
            <div class="wrap wrap_sec">
                <form>
                    <label class="input">
                        <span class="input__name">
                            Ваше имя:
                        </span>
                        <input type="text">
                    </label>
                    <label class="input">
                        <span class="input__name">
                            Телефон:
                        </span>
                        <input type="tel">
                    </label>
                    <label class="input">
                        <span class="input__name">
                            E-mail:
                        </span>
                        <input type="email">
                    </label>
                    <button type="submit" class="btn btn_ib">
                        Звоните
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="l-center paddings_small">
        <div class="wrap">
            <div class="wrap__half">
                <div class="img">
                    <img src="../img/6.png" alt="wtf">
                </div>
            </div>
            <div class="wrap__sec-half">
                <div class="title">
                    Теперь можно обойтись
                    без нотариуса!
                </div>
                <div class="text">
                    С появлением сервиса PRO-REG, посещение нотариуса стало 
                    необязательным. Благодаря технологии ЭЦП вы заверяете все 
                    документы сами на своем компьютере. Многоуровневая криптозащита 
                    данных, содержащаяся в цифровой подписи, обеспечивает гарантию 
                    подлинности подписанных документов.
                </div>
                <div class="wrap">
                    <div class="info info_second">
                        <i class="info__icon icon icon-robot"></i>
                        <div class="info__name">
                            РОБОТ САМ ВСЕ 
                            ПОДГОТОВИТ И ЗАВЕРИТ
                        </div>
                        <div class="info__text">
                            Искусственный интеллект, 
                            заложенный в основу сервиса 
                            сам подготовит всё для 
                            внесения изменений и отправит
                             в налоговую.
                        </div>
                    </div>
                    <div class="info info_second">
                        <i class="info__icon icon icon-batman"></i>
                        <div class="info__name">
                            КУРЬЕР ПРИВЕЗЕТ 
                            ГОТОВЫЕ ДОКУМЕНТЫ
                        </div>
                        <div class="info__text">
                            После того, как всё будет готово - 
                            вы можете выбрать удобный способ 
                            получения документов. Вам больше 
                            не нужно тратить время 
                            на лишние поездки
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section_third">
        <div class="l-center">
            <div class="section__in">
                <div class="title title_white">
                    Смените Генерального 
                    директора онлайн уже сейчас,
                    всего за 6500 рублей!
                </div>
                <div class="text text_white with-dif-marg">
                    Сразу после регистрации вы попадёте в личный кабинет PRO-REG. 
                    Там вы сможете заполнить онлайн анкету с желаемым перечнем изменений, 
                    после чего наш сервис <span>сам cформирует и отправит нужный пакет документов для налоговой.</span>
                </div>
                <div class="wrap">
                    <form>
                        <label class="input input_second">
                            <span class="input__name">
                                E-mail:
                            </span>
                            <input type="email">
                        </label>
                        <button type="button" class="btn btn_second with-marg-sm">
                            Регистрация
                        </button>
                    </form>
                </div>
                <div class="name">
                    или через соцсети:
                </div>
                <div class="share">
                    <a href="#" class="share__item">
                        <img src="../img/vk.png" alt="share">
                    </a>
                    <a href="#" class="share__item">
                        <img src="../img/gp.png" alt="share">
                    </a>
                    <a href="#" class="share__item">
                        <img src="../img/fb.png" alt="share">
                    </a>
                    <a href="#" class="share__item">
                        <img src="../img/ya.png" alt="share">
                    </a>
                </div>
            </div>
        </div>    
    </div>
    <footer class="footer">
        <div class="l-center">
            <div class="footer__section">
                <a href="#" class="logo">
                    <img src="../icons/logo.svg" alt="logo">
                </a>
                <ul class="list">
                    <li>
                        <a href="#">
                            PRO-REG.RU
                        </a>
                        <span>
                            © 2015-2016
                        </span>
                    </li>
                    <li>
                        ООО "ДОКСФЕРА". Все права защищены.
                    </li>
                    <li>
                        ИНН: 7722366381
                    </li>
                    <li>
                        ОГРН: 1167746548298
                    </li>
                </ul>
            </div>
            <div class="footer__section is-second">
                <div class="name">
                    Бесплатный звонок по России
                </div>
                <a href="telto:88001004487" class="tel">
                    8 (800) 100-44-87
                </a>
                <div class="name">
                    По всем вопросам:
                </div>
                <a href="mailto:info@pro-reg.ru" class="tel">
                    info@pro-reg.ru
                </a>
            </div>
            <div class="footer__section is-third">
                <div class="name">
                    Мы принимаем:
                </div>
                <div class="pay">
                    <img src="../img/7.png" alt="pay">
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
