@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-baby: "\EA01";
$icon-batman: "\EA02";
$icon-glass: "\EA03";
$icon-logo: "\EA04";
$icon-man: "\EA05";
$icon-pen: "\EA06";
$icon-planet: "\EA07";
$icon-protect: "\EA08";
$icon-robot: "\EA09";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-baby:before { content: $icon-baby; }
.icon-batman:before { content: $icon-batman; }
.icon-glass:before { content: $icon-glass; }
.icon-logo:before { content: $icon-logo; }
.icon-man:before { content: $icon-man; }
.icon-pen:before { content: $icon-pen; }
.icon-planet:before { content: $icon-planet; }
.icon-protect:before { content: $icon-protect; }
.icon-robot:before { content: $icon-robot; }
