.icon-baby {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-batman {
  width: 0.66em;
  height: 1em;
  fill: initial;
}
.icon-glass {
  width: 0.81em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 3.14em;
  height: 1em;
  fill: initial;
}
.icon-man {
  width: 0.92em;
  height: 1em;
  fill: initial;
}
.icon-pen {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.icon-planet {
  width: 1em;
  height: 1em;
  fill: #231F20;
}
.icon-protect {
  width: 1.06em;
  height: 1em;
  fill: initial;
}
.icon-robot {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
