$main: #1EB9A5
$second: #034A58
$footer: #3A454D
$section: #F2F2F2
$text: #3A3637
$text-2: #231F20

a
  text-decoration: none

body
  background: #FFF
  font-size: 16px
  line-height: 1.4
  font-family: Helvetica, sans-serif
  font-weight: 400
  color: $text
.l-center
  max-width: 1295px
  padding-left: 20px
  padding-right: 20px
  min-width: 320px
  margin: 0 auto
  text-align: center
  +r(374)
    padding-left: 10px
    padding-right: 10px
  &_small
    max-width: 1010px
.hidden-xs
  +r(580)
    display: none
.visible-xs
  display: none !important
  +r(580)
    display: block !important
.header
  position: relative
  height: 100vh
  +r(767)
    padding: 10px 0 30px
  +rh(480)
    height: auto
  &__in
    position: absolute
    top: 160px
    left: 0
    right: 0
    bottom: 0
    +vertical
    +rh(480)
      position: static
      padding-top: 20px
      padding-bottom: 20px
    +r(1000)
      top: 95px
      left: 20px
      right: 20px
    // +r(480)
    //   padding-top: 15px
  &__vertical
    display: inline-block
    vertical-align: middle
    max-width: 780px

  &__img
    position: absolute
    z-index: -1
    top: 0
    right: 0
    left: 0
    bottom: 0
    img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
  &__top
    padding: 45px 20px 0
    font-size: 0
    +r(1000)
      padding: 30px 0
    +r(480)
      padding: 20px 0
    +clr
    .logo 
      float: left
      +r(374)
        float: none
        margin: 0 auto 20px
    .tel
      float: right
      +r(374)
        float: none
        margin: 10px auto 0
        text-align: center
  &__title
    font-size: 46px
    color: #fff
    +r(1000)
      font-size: 30px
    +r(767)
      font-size: 25px
    +r(480)
      font-size: 20px
    span  
      font-weight: 700
  &__subtitle
    font-size: 18px
    color: #fff
    text-transform: uppercase
    margin: 70px 0 80px
    +r(1000)
      margin: 50px 0
    +r(767)
      margin: 30px 0
      font-size: 16px
    +r(480)
      text-transform: none
      margin: 20px 0

.footer
  background: $footer
  +clr 
  padding: 70px 20px 80px
  color: #fff
  font-size: 16px
  +r(1000)
    padding: 50px 0
    font-size: 14px
  +r(480)
    font-size: 12px
    padding: 20px 0
  &__section
    float: left
    width: 33.3%
    +r(580)
      float: none
      width: 100%
      text-align: center
    &.is-second
      text-align: center
      padding-top: 33px
      +r(580)
        padding-top: 0px
      .name 
        margin: 15px 0
        +r(480)
          font-weight: 700
    &.is-third
      width: auto 
      float: right
      padding-top: 54px
      text-align: center
      +r(900)
        padding-top: 14px
      +r(580)
        padding: 0
        float: none
        text-align: center
      .name 
        margin-bottom: 25px
        +r(480)
          margin-bottom: 15px
          font-weight: 700
  .logo
    +r(580)
      margin: 0 auto
  .tel 
    font-size: 35px
    color: #fff
    +r(1000)
      font-size: 25px
    +r(630)
      font-size: 20px
    +r(480)
      font-size: 14px
 

.list
  margin-top: 30px
  li 
    padding: 12px 0
    +r(767)
      padding: 6px 0
  a 
    color: #fff 
    border-bottom: 1px solid transparent
    transition: border .3s
    &:hover
      border-color: #fff

.logo
  display: block
  width: 216px
  +r(1000)
    width: 170px
  +r(480)
    width: 120px
  img 
    width: 100%
    height: auto
.tel  
  display: block
  line-height: 1.2
  margin-top: -5px
  &__number
    display: block
    color: #fff
    font-size: 36px
    +r(1000)
      font-size: 30px
    +r(767)
      font-size: 25px
      margin-top: 0
    +r(480)
      font-size: 18px
  span
    color: #fff
    font-size: 18px
    +r(1000)
      font-size: 14px
    +r(480)
      font-size: 12px
.btn 
  display: inline-block
  padding: 19px 50px
  line-height: 1
  color: #fff 
  background: $main
  font-size: 18px
  font-weight: 300
  border-radius: 7px
  transition: background .3s
  +r(1000)
    font-size: 14px
  &:hover
    background: lighten($main,5%)
  &:active 
    background: darken($main,5%)
  &_second
    background: $second 
    &:hover
      background: lighten($second,5%)
    &:active
      background: darken($second,5%)
  &_ib
    width: 24%
    padding: 18px 0
    margin: 0 0 0 6px
    vertical-align: bottom
    +r(1000)
      padding: 18px 0
    +r(767)
      width: 49%
      margin: 10px 0 10px 6px
    +r(630)
      width: 48%
    +r(480)
      width: 100%
      margin: 10px 0 10px 0
  &_width
    width: 216px
    padding: 18px 0
    +r(580)
      width: 100%
  &.is-width-xs
    +r(580)
      width: 100%
      margin-top: 10px
  &.is-inactive
    background: $section
    cursor: default
    +r(630)
      margin-top: 15px
    &:hover
      background: $section
    &:active
      background: $section
  &.with-marg-sm
    +r(767)
      margin: 10px 0
.section
  padding: 96px 0 55px
  background: $section
  +r(1000)
    padding: 50px 0 50px
  +r(480)
    padding: 30px 0
  &_second
    background: $second
    padding: 50px 0 55px
  &_third
    background: $main
    padding: 45px 0 30px
    +r(630)
      padding: 30px 0
    &.with-dif-pad
      padding: 50px 0 80px
      +r(768)
        padding: 30px 0
  .video
    margin: 0 auto
  &__in
    max-width: 750px
    margin: 0 auto
    text-align: center
    +r(768)
      padding: 0 20px
    
.paddings
  padding: 50px 0
  +r(767)
    padding: 30px 0
  &_small
    padding: 50px 0 40px
    +r(767)
      padding: 30px 0
.title
  font-size: 38px
  color: $main 
  line-height: 1.2
  text-align: center
  +r(1000)
    font-size: 30px
  +r(767)
    font-size: 28px
  +r(630)
    font-size: 24px
  &_second
    color: $text
  &_white
    color: #fff
.subtitle 
  font-size: 18px 
  text-align: center
  +r(767)
    font-size: 16px
  &_white
    color: #fff
  &_second
    color: $second
    font-size: 18px
  &.with-marg 
    margin-top: 37px
.text 
  font-size: 16px 
  color: $text 
  text-align: center
  +r(767)
    font-size: 14px
  span 
    font-weight: 700
  &.with-marg
    margin: 45px 0 64px
    +r(1000)
      margin: 30px 0 30px
  &.with-dif-marg
    margin: 15px 0 25px
    +r(767)
      margin: 15px 0 10px
  &_white
    color: #fff
.partners
  text-align: center
  display: table
  width: 100%
  margin: 85px 0 50px
  &.with-dif-marg
    margin-top: 17px
  +r(1000)
    margin: 50px 0 30px
  +r(767)
    margin: 30px 0
  +r(630)
    display: block
  &__in 
    display: table-cell
    height: 150px
    +vertical
    +r(1000)
      height: 100px
    +r(630)
      display: block
      margin: 20px auto
      height: auto
      width: 130px
    img 
      display: inline-block
      vertical-align: middle
      max-width: 100% 
      max-height: 100%
      +r(1000)
        max-width: 80%
      +r(630)
        width: 100%
        height: auto
.wrap
  font-size: 0
  +clr
  &_sec
    margin: 0 -6px
    width: 100%
    display: block
    +r(480)
      margin: 0
  &__half
    width: 50%
    float: left
    text-align: center
    position: relative
    +vertical
    +r(1000)
      width: 30%
    +r(767)
      float: none
      width: 100%
  &__sec-half
    overflow: hidden
    padding-left: 30px
    text-align: center
    +r(767)
      padding-left: 0
    .text
      width: 90%
      margin: 0 auto
    .title
      margin-bottom: 30px
      +r(767)
        margin-bottom: 20px
    .info
      margin-top: 30px
.img 
  max-width: 385px
  display: inline-block
  vertical-align: bottom
  position: relative
  bottom: -60px
  +r(767)
    position: static
    max-width: 200px
  img 
      width: 100%
      height: auto
.info
  margin-top: 60px
  display: inline-block
  width: 25%
  text-align: center
  color: #fff
  font-size: 14px
  vertical-align: top
  padding: 0 25px
  +r(900)
    padding: 0 10px
    margin-top: 30px
    width: 50%
  +r(480)
    width: 100%
  &.with-after
    position: relative
    &:after 
      content: ""
      width: 180px
      height: 2px
      background: $main
      position: absolute
      right: -90px
      top: 34px
      +r(1000)
        width: 150px
        right: -75px
      +r(900)
        display: none
  &_second
    width: 50%
    color: $text
    +r(480)
      width: 100%
    .info__name
      font-weight: 700
      margin-bottom: 10px
    .info__icon
      margin-bottom: 10px
      color: $second
  &_third
    width: 33.3%
    +r(900)
      margin: 30px auto 
      width: 70%
      display: block
    .info__icon
      color: $second
    &.with-after
      &:after
        width: 290px
        right: -145px
        background: $second
        +r(1200)
          width: 150px
          right: -75px
        +r(900)
          display: none
    .icon-pen
      font-size: 52px
    .icon-glass
      font-size: 59px
    .icon-planet
      font-size: 54px
  &__icon
    color: $main
    margin-bottom: 48px
    display: inline-block
    vertical-align: middle
    +r(900)
      margin-bottom: 20px
    +r(480)
      margin-bottom: 15px
  .icon-pen
    font-size: 59px
  .icon-robot
    font-size: 65px
  .icon-protect
    font-size: 60px
  .icon-batman
    font-size: 58px
  &__name
    text-transform: uppercase
    margin-bottom: 25px
    +r(900)
      margin-bottom: 10px
    &.is-big
      margin: 0 -8px 25px
      +r(767)
        margin: 0 0 10px
    &.is-colored
      color: $main
  &__top
    color: $main
    margin-bottom: 40px
    +r(768)
      margin-bottom: 20px
    +r(480)
      margin-bottom: 5px
    + .info__name
      margin-bottom: 5px
    p
      text-transform: uppercase
    

.video
  margin: 50px auto 35px
  max-width: 470px
  +r(480)
    padding: 0 20px
    margin: 20px auto 20px
  &__in 
    width: 100%
    margin-top: 27px
    padding-bottom: 54%
    position: relative
  &__iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
.block
  position: relative
  padding: 70px 0 95px
  +r(1000)
    padding: 50px 0
  +r(630)
    padding: 30px 0
  &__top
    max-width: 610px
    margin: 0 auto
    &.is-big
      max-width: 750px
    +r(630)
      padding: 0 20px
    .subtitle 
      margin: 30px 0 40px
      +r(767)
        margin: 20px 0
      +r(480)
        margin: 10px 0
  &__img
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: -1
    img 
      display: block
      width: 100%
      height: 100%
      object-fit: cover
.input
  width: 25%
  vertical-align: bottom
  padding: 0 6px
  display: inline-block
  +r(767)
    width: 50%
    margin: 10px 0
  +r(480)
    width: 100%
    padding: 0
  input
    height: 55px
    padding: 0 10px
    border-radius: 7px
    width: 100%
    font-size: 16px
    color: $text
    +r(1000)
      height: 52px
  &__name
    color: #fff 
    font-size: 16px
    display: block
    text-align: left
  &_second
    width: 35%
.price-block
  background: #fff 
  max-width: 938px
  margin: 0 auto
  border-radius: 10px
  padding: 33px 0 66px
  +clr 
  +r(1000)
    margin: 0 20px
  +r(767)
    padding: 30px 0 30px
  &__part
    float: left
    padding: 0 25px
    width: 50%
    +r(580)
      float: none
      width: 100%
    &.is-first
      text-align: right
      +r(580)
        text-align: center
  &__list
    margin-top: 30px
    li 
      padding: 14px 0
      font-size: 16px
      color: $text-2
      +r(767)
        padding: 7px 0
      +r(580)
        text-align: center
  .price 
    margin: 65px 0 45px
    span 
      padding-right: 90px
      +r(1000)
        padding: 0
  
.post-wrap
  +clr 
  width: 100%
.price
  font-size: 60px
  font-weight: 700
  color: $text-2
  line-height: 1.2
  +r(1000)
    font-size: 45px
  +r(767)
    font-size: 30px
    margin: 30px 0
  span
    font-size: 18px
    display: block
    
   
.name
  color: #fff
  font-size: 16px
  margin: 35px 0 25px
  +r(1000)
    font-size: 14px
  +r(630)
    margin: 20px 0
.share
  font-size: 0
  a
    display: inline-block
    width: 65px
    margin: 0 4px
    +r(1000)
      width: 50px
    img 
      width: 100%
      height: auto
.pay
  width: 200px
  +r(1000)
    width: 170px
  +r(580)
    margin: 0 auto
    width: 100px
  img
    width: 100%
    height: auto

.post 
  float: left
  width: 33.3%
  padding: 0 35px 
  +r(1200)
    padding: 0 10px
  +r(1000)
    width: auto
    max-width: 400px
    margin: 15px auto
    float: none
  &__icon 
    margin-bottom: 18px 
    text-align: center
    .icon 
      color: $second
      font-size: 60px
  &__name
    color: $main 
    text-transform: uppercase
    font-size: 16px
    font-weight: 300
  &__in
    border-radius: 10px
    padding: 40px 40px 95px
    background: #fff
    min-height: 580px 
    position: relative 
    +r(768)
      padding: 40px
      min-height: auto
      height: auto
    +r(480)
      padding: 30px
    &.with-big-padb
      padding-bottom: 160px
      +r(768)
        padding-bottom: 40px

  &__subtitle
    font-weight: 700
    text-transform: uppercase
  &__strong
    font-weight: 700
  &__italic
    font-style: italic
  &__list
    margin-top: 29px 
    li 
      padding: 8px 0
      line-height: 1
      +r(480)
        font-size: 14px
  &__bottom
    position: absolute
    left: 40px
    right: 40px
    bottom: 53px
    +r(768)
      position: static
      margin-top: 30px
    +r(480)
      font-size: 14px
  .price 
    text-align: center
    font-size: 0
    p
      font-size: 48px
      margin-bottom: 7px
      +r(1200)
        font-size: 36px
      +r(480)
        font-size: 25px
    span 
      display: inline-block
      font-size: 16px
      color: $second
      font-weight: 300
  &__img
    height: 292px
    overflow: hidden
    margin-bottom: 25px
    +r(480)
      height: 215px
    img 
      display: block
      width: 100%
      height: 100%
      object-fit: cover
  &_second
    .post__in
      border-radius: 0
      padding: 0 25px 70px 
      +r(768)
        padding: 0 20px 30px
    .post__img 
      margin: 0 -25px 25px
      +r(768)
        margin: 0 -20px 25px
    .post__bottom
      bottom: 25px
    .text 
      text-align: left
    .price 
      text-align: left
      +r(768)
        margin: 0
      p 
        font-size: 36px
        +r(480)
          font-size: 25px
    .subtitle
      text-align: left
      min-height: 45px
      margin-bottom: 30px
      +r(768)
        min-height: auto
        margin-bottom: 20px

.item
  display: inline-block
  width: 25%
  text-align: center
  padding: 0 10px
  vertical-align: top
  margin-top: 65px
  +r(1000)
    width: 50%
    padding: 0 20px
  +r(630)
     margin-top: 30px
  +r(500)
    width: 100%
  &__top
    font-size: 60px
    font-weight: 700
    color: #fff 
    line-height: 1
    margin-bottom: 30px
    +r(1200)
      font-size: 48px
    +r(630)
      font-size: 40px
      margin-bottom: 15px
    +r(480)
      font-size: 35px

.anchors-list 
  position: fixed
  z-index: 1
  top: 50%
  right: 35px
  -webkit-transform: translate3d(0,-50%,0)
  transform: translate3d(0,-50%,0)
  color: #fff
  line-height: 0
  letter-spacing: -4px
  -webkit-transition: color .4s ease
  transition: color .4s ease
  +r(1000)
    display: none
  ul 
    margin: 0
    padding: 0
    position: relative
  li 
    letter-spacing: 0
    display: block
    width: 12px
    height: 12px
    border-radius: 50%
    color: inherit
    cursor: pointer
    margin: 12px 0
    box-shadow: inset 0 0 0 2px currentColor
.active
  background-color: #fff
.more_info
  display: none
  
    
  


