@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-error: "\EA01"
$icon-caret-l: "\EA02"
$icon-search: "\EA03"
$icon-cancel: "\EA04"
$icon-danger: "\EA05"
$icon-success: "\EA06"
$icon-caret-r: "\EA07"
$icon-check: "\EA08"


%icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend %icon
	display: inline-block

.icon-error:before
	content: $icon-error
.icon-caret-l:before
	content: $icon-caret-l
.icon-search:before
	content: $icon-search
.icon-cancel:before
	content: $icon-cancel
.icon-danger:before
	content: $icon-danger
.icon-success:before
	content: $icon-success
.icon-caret-r:before
	content: $icon-caret-r
.icon-check:before
	content: $icon-check