<footer class="footer">
    <div class="l-center">
        <div class="footer__col">
            <a href="#" class="logo">
                <i class="icon icon-logo"></i>
            </a>
            <div class="footer__copy">
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

        </div>
        <div class="footer__col">
            <div class="footer__title">Lorem ipsum dolor.</div>
            <div class="contact">66666666</div>
            <div class="footer__title">Lorem ipsum dolor.</div>
            <div class="contact">email</div>
        </div>
        <div class="footer__col">
            <div class="footer__title">Lorem.</div>
            <ul class="footer__nav">
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Lorem.</a></li>
                <li><a href="#">Lorem.</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <div class="footer__title">Lorem.</div>
            <ul class="footer__nav">
                <li><a href="#"><i class="icon icon-fb"></i>Lorem.</a></li>
                <li><a href="#"><i class="icon icon-vk"></i>Lorem.</a></li>
                <li><a href="#"><i class="icon icon-yt"></i>Lorem.</a></li>
            </ul>
        </div>
        <div class="footer__col">
            <div class="footer__title">Lorem.</div>
            <div class="payment">
                <img src="./img/visa.png" alt="visa">
                <img src="./img/mc.png" alt="mastercard">
            </div>
        </div>
    </div>
</footer>