<header class="header">
    <div class="l-center">
        <div class="heaer__left">
            <a href="#" class="logo">
                <i class="icon icon-logo"></i>
            </a>
            <nav class="nav">
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </nav>
        </div>
        <div class="heaer__right">
            <a href="#" class="btn-simple">
                <i class="icon icon-user"></i>
            </a>
            <a href="tel:" class="tel"></a>
            <p>Lorem ipsum dolor.</p>
        </div>
        <button class="burger js-toggle" data-toggle=".js-sidebar"><i></i></button>
    </div>
</header>